body
{
    display:flex;
    background-color:rgb(197, 197, 15);
    justify-content:center;
    align-items: center;
    height:100vh;
    margin:0;
    

}
.fo
{
    background-color:greenyellow;
    border:1px solid black;
    padding: 22px 30px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3)
}
.inp
{
    display:flexbox;
    margin-bottom: 10px;
    font-size: 20px;
    margin:4px;

}
div >h2{
   text-align:center;
    margin-bottom:23px;
}
.inp input {
  width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    outline: none;
    margin:10px;
}
.inp input:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.401);
}
button {
    width: 50%;
    padding: 10px;
    background: #007bff;
    border: 1px solid #e6f2ff;;
    color: black;
    border-radius: 80px;
    font-size: 16px;
    cursor: pointer;
}
button:hover
{
    background:aqua;
}




























