body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 40px;
}

/* Flex Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: end;
  align-items: end;
}

/* Card */
.card {
  background: #fff;
  width: 280px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
}

/* Image */
.card img {
  width: 100%;
  border-radius: 5px;
  size:cover;
}

/* Title */
.card h3 {
  margin: 15px 0 10px;
}

/* Description */
.card p {
  flex-grow: 1; /* Makes cards equal height */
  color: #555;
}

/* Button */
.card button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}
