*
{
    box-sizing: border-box;
    padding:0px;

}

.hero
{ 
    margin-left:20px;
    margin-top:300px;
    align-items:center;
    justify-content: space-evenly;
    background-color:whitesmoke;
    border:2px solid black;
    outline: 2px solid green;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;


}

.card1
{
    
    margin:10px;
    gap:20px;
    border:3px solid black;
    outline:2px solid lightblue;
    background-color:white;
   
}
.card2
{
    
    margin:10px;
    gap:20px;
    border:3px solid black;
    outline:2px solid lightblue;
    background-color:white;
}
.card3
{
    margin:10px;
    gap:20px;
    border:3px solid black;
    outline:2px solid lightblue;
    background-color:white;
}
button{
    align:center;
    padding:10px;
    margin:15px 20px;
    color:black;
    font-size:20px;
    outline:0.5px solid red;
    border:0.9px,solid black;
    border-radius: 2.5%;
    background-color: aqua;


}
