.c1
{
    display:flex;
    gap:46px;
    height:40px;
    width:40px;
 
}
.c2
{
    width:34px;
    height:34px;
    background-color: bisque;
    color:white;
    font-size:large
    font-weight:23%;
}

.c2:hover
{
    background-color: aquamarine;

}

body
{
    background-color: black;
}